 <div class="col-xs-12 bg-white progress_summary">

                    <div class="row">
                      <div class="progress_title">
                        <span class="left">Escudor Wireless 1.0</span>
                        <span class="right">This sis</span>
                        <div class="clearfix"></div>
                      </div>

                      <div class="col-xs-2">
                        <span>SSD</span>
                      </div>
                      <div class="col-xs-8">
                        <div class="progress progress_sm">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="89"></div>
                        </div>
                      </div>
                      <div class="col-xs-2 more_info">
                        <span>89%</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="progress_title">
                        <span class="left">Mobile Access</span>
                        <span class="right">Smart Phone</span>
                        <div class="clearfix"></div>
                      </div>

                      <div class="col-xs-2">
                        <span>App</span>
                      </div>
                      <div class="col-xs-8">
                        <div class="progress progress_sm">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="79"></div>
                        </div>
                      </div>
                      <div class="col-xs-2 more_info">
                        <span>79%</span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="progress_title">
                        <span class="left">WAN access users</span>
                        <span class="right">Total 69%</span>
                        <div class="clearfix"></div>
                      </div>

                      <div class="col-xs-2">
                        <span>Usr</span>
                      </div>
                      <div class="col-xs-8">
                        <div class="progress progress_sm">
                          <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="69"></div>
                        </div>
                      </div>
                      <div class="col-xs-2 more_info">
                        <span>69%</span>
                      </div>
                    </div>

                  </div>
                </div>